{% extends 'base.html' %}

{% block content %}
    <main>
        <form method="post">
            {% csrf_token %}
            <p>Delete "{{ todolist.name }}"?</p>
            {{ form.as_p }}
            <div>
                <button>Delete</button>
            </div>
        </form>
    </main>
{% endblock content %}