{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <a href="{% url 'todo_edit' todolist.id %}">Edit</a>
            <a href="{% url 'todo_delete' todolist.id %}">Delete</a>
        </div>
        <h1>{{ todolist.name }}</h1>
        <p>Created on {{ todolist.created_on }}</p>
        <h2>To Do</h2>
        <table>
            <tbody>
                {% for todoitem in todolist.items.all %}
                <tr>
                    <td><a href="{% url 'todo_item_edit' todoitem.id %}">{{ todoitem }}</a><td>
                <tr>
                {% endfor %}   
            </tbody>
        </table>
    </main>
{% endblock content %}