{% extends 'base.html' %}

    {% block content %}
    <main>
        {% for todolist in todolist_list %}
        <div>
            <h2>
                <a href="{% url 'todo_detail' todolist.pk %}">{{ todolist.name }}</a>
            </h2>
            <p>{{ todolist.created_on }}</p>
        </div>
        {% endfor %}
    </main>

    {% endblock content %}